<!DOCTYPE html>
<html>
	<head>
		<title>Wholesale Design Cabinets</title>
		<link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.css' />

    	<link rel='stylesheet' href='/css/style.css' />
    	<link rel='stylesheet' href='/css/nav.css' />

    	<link rel='stylesheet' href='/css/kitchenSlider.css' />
    	<link rel='stylesheet' href='/css/aboutCabinets.css' />
    	<link rel='stylesheet' href='/css/cabinetSlider.css' />
    	<link rel='stylesheet' href='/css/contact.css' />
    	<link rel='stylesheet' href='/css/footer.css' />

  	</head>
  	<body>
    	
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                	<div style="width:150px; height:150px; background-color:rgb(171, 133, 97); border:2px inset #491D0C;">
                		<img src="images/WDC-logo-white.png" alt="Wholesale-cabinets-design-logo" style="width:100%; height:100%;" />
                	</div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cabinets">Cabinets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/images/wholesale-design-cabinets-four.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/images/wholesale-design-cabinets-two.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/images/wholesale-design-cabinets-five.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>



    <section id="about">
            <!-- Page Content -->
        <div class="container">

            <hr class="featurette-divider">

            <!-- First Featurette -->
            <div class="featurette" id="about">
                <img class="featurette-image img-circle img-responsive pull-right" style="width:400px;" src="/images/hgtv.jpeg">
                <h2 class="featurette-heading">This First Heading
                    <span class="text-muted">Will Catch Your Eye</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>

        </div>
    </section>


    <section id="cabinets">
    	<div id="cabinetHeader">
    		
    		<div class="bannerBody">
	    		<h3> Cabinets </h3>

	        </div>
	       	
    	</div>

  
    	<div id="lCabinetBtn" class="cabBtn"></div>
		<div id="rCabinetBtn" class="cabBtn"></div>
		<div id="cabinetCarousel">
	    	<div id="cabinetDiv">
	    		<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Country-Oak.jpeg" class="cabImg"/>
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Country Oak </h3>
						<div> </div>
						<p> For a traditional style that works in any home, Country Oak Classic is the perfect match for those who appreciate the natural beauty of wood cabinetry. Oak cabinetry has long been treasured for its durability and versatility. Featuring a five piece header and raised panel doors, Country Oak Classic puts a spin on a time honored classic design. </p>
						<a class="seeGallery" data-cabinetCode="co">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Downtown-Dark.png" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Downtown-Dark </h3>
						<div> </div>
						<p> Simple yet elegant, the Town series cabinetry combine a classic design with subtle detailing, along with dovetail drawer boxes, full extension soft closing drawers, and soft closing doors.</p>
						<a class="seeGallery" data-cabinetCode="dd">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Gramercy-Midnight.png" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3>Gramercy Midnight </h3>
						<div> </div>
						<p> The Gramercy style cabinetry’s raised panel design, dovetail drawer boxes, full extension soft closing drawers, and soft closing doors transform your kitchen into a place of comfort and sophistication.</p>
						<a class="seeGallery" data-cabinetCode="gm">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Gramercy-White.png" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Gramercy White </h3>
						<div> </div>
						<p> The Gramercy style cabinetry’s raised panel design, dovetail drawer boxes, full extension soft closing drawers, and soft closing doors transform your kitchen into a place of comfort and sophistication.</p>
						<a class="seeGallery" data-cabinetCode="gw">See Gallery</a>
					</div>	
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Ice-White-Shaker.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Ice White Shaker </h3>
						<div> </div>
						<p> Ice White Shaker cabinets can make any kitchen look larger and brighter. Its clean and simple design pairs well with any layout or color scheme, and is adaptable enough for use in both traditional and modern homes.Ice White Shaker brings together a color and design combination that has transcended every kitchen trend. </p>
						<a class="seeGallery" data-cabinetCode="iws">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/K-Cherry-Glaze.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> K Cherry Glaze </h3>
						<div> </div>
						<p> The K-Series from Forevermark Cabinetry is available in Cherry Glaze, Cinnamon Glaze, Honey and Espresso. </p>
						<a class="seeGallery" data-cabinetCode="cherry">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/K-Cinnamon-Glaze.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> K Cinnamon Glaze </h3>
						<div> </div>
						<p> The K-Series from Forevermark Cabinetry is available in Cherry Glaze, Cinnamon Glaze, Honey and Espresso. </p>
						<a class="seeGallery" data-cabinetCode="cinn">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/K-Espresso.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> K Espresso </h3>
						<div> </div>
						<p> The K-Series from Forevermark Cabinetry is available in Cherry Glaze, Cinnamon Glaze, Honey and Espresso. </p>
						<a class="seeGallery" data-cabinetCode="ke">See Gallery</a>
					</div>
					
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Pacifica.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Pacifica </h3>
						<div> </div>
						<p> Deeply exquisite, Pacifica cabinets create an unparalleled richness to your kitchen. Pacifica is constructed with dovetail drawer boxes, and full extension soft closing glides for the ultimate in kitchen elegance.Its deep color and design come together so you can surround yourself in a kitchen that feels as lush as it looks. </p>
						<a class="seeGallery" data-cabinetCode="p">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Sienna-Rope.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Sienna Rope </h3>
						<div> </div>
						<p> A uniquely refined cabinet style, Sienna Rope will take your kitchen to extraordinary heights. Sienna Rope is designed with a distinct finish, and engineered with full extension soft closing drawers and dovetail drawer boxes.Its delicate rope trim and glazing detail accentuates the craftsmanship of each cabinet. Make your kitchen your home’s main attraction with Sienna Rope.</p>
						<a class="seeGallery" data-cabinetCode="sr">See Gallery</a>
					</div>				
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Signature-Brownstone.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Signature Brownstone </h3>
						<div> </div>
						<p> Signature Brownstone cabinets feature a classic raised panel design with rich brown notes, to bring both warmth and elegance to your home. Constructed with dovetail drawer boxes and full extension soft closing drawers, Signature Brownstone is as functional and durable as it is beautiful. </p>
						<a class="seeGallery" data-cabinetCode="sb">See Gallery</a>
					</div>
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Uptown-White.png" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Uptown White </h3>
						<div> </div>
						<p> Simple yet elegant, the Town series cabinetry combine a classic design with subtle detailing, along with dovetail drawer boxes, full extension soft closing drawers, and soft closing doors.</p>
						<a class="seeGallery" data-cabinetCode="uw">See Gallery</a>
					</div>	
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Pepper-Shaker.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Pepper Shaker </h3>
						<div> </div>
						<p> Add a modern yet timeless look to your kitchen with Pepper Shaker.With dovetail drawer boxes, full extension glides, and an espresso finish, Pepper Shaker produces a dramatic, contemporary twist to a classic shaker design.</p>
						<a class="seeGallery" data-cabinetCode="ps">See Gallery</a>
					</div>				
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Shakertown.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Shakertown </h3>
						<div> </div>
						<p> Shakertown’s simple and clean design complements any home. A design with a caramel honey finish that can look both traditional and modern, Shakertown can be used to achieve any look and endless possibilities.No matter what your vision, Shakertown cabinets create the perfect backdrop for all of your family’s best memories.</p>
						<a class="seeGallery" data-cabinetCode="s">See Gallery</a>
					</div>	
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Signature-Pearl.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<h3> Signature Pearl </h3>
						<div> </div>
						<p> Combine tradition with the feel of modern luxury. Whether your fantasy is classic comfort or sophisticated refinement, Signature Pearl’s raised panel design and antique white color serve as the ideal choice to create the perfect setting for your dream kitchen.</p>
						<a class="seeGallery" data-cabinetCode="sp">See Gallery</a>
					</div>				
				</div>
				<!-- <div class="cabinetSpacer"></div> -->

				<div class="cabinet">
					<img src="/images/Greystone-Shaker.jpeg" class="cabImg" />
					<div class="cabinetOverlay"> </div>
					<div class="cabinetText">
						<p> </p>
						<a class="seeGallery" data-cabinetCode="gs">See Gallery</a>
					</div>				
				</div>
				<div class="clearer">
				</div>
				<hr class="featurette-divider">
			</div>
		</div>
		
    </section>



    <section id="contact">	
    	<div class="container">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<h2 id="contactTitle"> Contact Us </h2>
    				<form id="contactForm" Method="POST">
						<div class="row">	
		    				<div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-4">
		    					<label for="fName"> First Name: </label>
		    					<input name="fName" type="text">
		    				</div>
		    				<div class="form-group col-xs-12 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-3">
		    					<label for="lName"> Last Name: </label>
		    					<input name="lName" type="text">
		    				</div>
		    			</div>
		    			<div class="row">			
		    				<div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-4">
		    					<label for="phone"> Phone: </label>
		    					<input name="phone" type="tel">
		    				</div>
		    				<div class="form-group col-xs-12 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-3">
		    					<label for="email"> Email: </label>
		    					<input name="email" type="email">
		    				</div>
		    			</div>
		    			<div class="row">
		  
	    					<label for="message"> Message: </label>
	    					<textarea style="display:block; width:100%;" name="message" rows="4" cols="50"></textarea>
		    				
		    			</div>
		    		</form>
	    		</div>
    		</div>
    	</div>
    </section>


    <footer>
    	<div class="bannerBorder"></div>
    	<div id="genInfo">
    		<h3> Warehouse Design Cabinets </h3>
    		<p> 3 Bud Way, Suite 20 </br>
                Nashua, NH 03063  </br>
                603-204-0843
            </p>
    	</div>
    	<div class="bannerBorder"></div>
    </footer>
    <script src='/js/jquery-3.2.0.js' ></script>

    <!-- Remove unused items when done -->
    <script src='/bootstrap-3.3.7-dist/js/bootstrap.js' ></script>
    <script src='/js/nav.js' ></script>
    <script src='/js/cabinetSlider.js' ></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

  	</body>
</html>
